body {
    text-align: center;
    font-family: 'Arial', sans-serif;
    background: #222;
    color: white;
    margin: 0;
}

.setup-container {
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

label {
    font-size: 1.5em;
    margin-right: 10px;
}

input {
    font-size: 1.5em;
    width: 80px;
    text-align: center;
}

.setup-container button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background: limegreen;
    color: white;
    border-radius: 5px;
}

.timer-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background 0.5s;
    flex-direction: column;
}

.progress-bar {
    height: 100vh;
    background: green;
    width: 100%;
    transition: width 1s linear;
    position: absolute;
    left: 0;
    top: 0;
}

.timer-text {
    position: absolute;
    font-size: 10vw;
    color: white;
    font-weight: bold;
}

.controls {
    position: fixed;
    bottom: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    font-size: 2em;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: limegreen;
    color: white;
    border-radius: 5px;
}

.small-btn {
    font-size: 1.2em;
    padding: 5px 10px;
}

.flash-red {
    animation: flash 0.5s infinite alternate; 
}

@keyframes flash {
    0% {
        background: red;
    }
    100% {
        background: black;
    }
}



@media (max-width: 768px) {
    .setup-container {
        padding: 10px;
    }
    h1, label, input, button {
        font-size: 1.2em;
    }
    .timer-text {
        font-size: 15vw;
    }
    .controls {
        bottom: 5%;
        flex-direction: column;
        gap: 10px;
    }
    button {
        font-size: 1.5em;
    }
}
